<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <title>Frontend Mentor | myteam website challenge - Contact</title>
  </head>

  <body>
    <div id="app" class="container">
      <header class="contact">
        <img
          class="contact-bg-1"
          src="img/bg-pattern-about-2-contact-1.svg"
          alt="bg=1"
        />
        <nav class="header__nav">
          <img class="header__logo" src="img/logo.svg" alt="logo" />
          <ul class="header__list">
            <li class="header__item">
              <a href="index.html" class="header__link">home</a>
            </li>
            <li class="header__item">
              <a href="about.html" class="header__link">about</a>
            </li>
            <a href="contact.html" class="btn btn-white header__btn"
              >contact us</a
            >
          </ul>
        </nav>
        <div class="contact__content">
          <h2 class="heading-2">Contact</h2>

          <div class="contact__text">
            <h3 class="heading-3-small">Ask us about</h3>
            <div class="contact__icon-box">
              <div class="contact__icon">
                <img src="img/icon-person.svg" alt="person" />
                <p class="paragraph-big">The quality of our talent network</p>
              </div>

              <div class="contact__icon">
                <img src="img/icon-cog.svg" alt="cog" />
                <p class="paragraph-big">The quality of our talent network</p>
              </div>

              <div class="contact__icon">
                <img src="img/icon-chart.svg" alt="chart" />
                <p class="paragraph-big">The quality of our talent network</p>
              </div>
            </div>
          </div>

          <form @submit.prevent="submitForm">
            <input
              type="text"
              placeholder="Name"
              v-model.trim="name.val"
              @input="clearErr(name)"
              :class="{'is-invalid': !name.isValid}"
            />
            <span v-if="!name.isValid" class="error-message"
              >This field is required</span
            >

            <input
              type="text"
              placeholder="Email Address"
              v-model.trim="email.val"
              @input="clearErr(email)"
              :class="{'is-invalid': !email.isValid}"
            />
            <span v-if="!email.isValid" class="error-message"
              >Please use a valid email address</span
            >
            <input type="text" placeholder="Company Name" />
            <input type="text" placeholder="Title" />
            <textarea
              rows="4"
              placeholder="Message"
              v-model.trim="message.val"
              :class="{'is-invalid': !message.isValid}"
              @input="clearErr(message)"
            ></textarea>
            <span v-if="!message.isValid" class="error-message"
              >This field is required</span
            >

            <button class="btn form-btn">submit</button>
          </form>
        </div>
        <img
          class="contact-bg-2"
          src="img/bg-pattern-contact-2.svg"
          alt="bg-2"
        />
      </header>

      <footer class="footer">
        <div class="footer__content">
          <div class="footer__box footer__box--1">
            <img class="footer__logo" src="img/logo.svg" alt="logo" />
            <ul class="footer__list">
              <li class="footer__item">
                <a href="index.html" class="footer__link">home</a>
              </li>
              <li class="footer__item">
                <a href="about.html" class="footer__link">about</a>
              </li>
            </ul>
          </div>
          <div class="footer__box footer__box--2">
            <p class="paragraph-dark">987 Hillcrest Lane</p>
            <p class="paragraph-dark">Irvine, CA</p>
            <p class="paragraph-dark">California 92714</p>
            <p class="paragraph-dark">Call Us : 949-833-7432</p>
          </div>
          <div class="footer__box footer__box--3">
            <div class="footer__socail-icon">
              <svg>
                <use xlink:href="img/sprite.svg#icon-icon-facebook"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#icon-icon-pinterest"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#icon-icon-twitter"></use>
              </svg>
            </div>
            <p class="paragraph-dark footer__text">
              Copyright 2021. All Rights Reserved
            </p>
          </div>
        </div>
      </footer>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="/main.js"></script>
  </body>
</html>
