.cta {
  position: relative;
  overflow: hidden;

  &__content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      @media screen and(max-width: 1190px) {
        font-size: 3.2rem;
      }
    }
  }
}

.story-home-6 {
  position: absolute;
  left: 0;
  bottom: 0;
  @media screen and(max-width: 1190px) {
    bottom: -3rem;
  }
}
