.header {
  &__nav {
    grid-column: center-start / center-end;
    display: flex;
    align-items: center;
    height: 4.8rem;
    margin-top: 7.6rem;
  }

  &__logo {
    margin-right: 8rem;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and(max-width: 650px) {
      background-color: $color-blue-dark;
      position: absolute;
      height: 100%;
      width: 25.5rem;
      right: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 12rem;
      transform: translateX(150%);
      transition: all 0.5s ease-out;
    }
  }

  &__item {
    display: flex;
    &:not(:last-child) {
      margin-right: 4rem;
    }

    @media screen and(max-width: 650px) {
      margin-left: 4.8rem;
      margin-top: 2.4rem;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    transition: all 0.2s;

    &:hover {
      color: $color-primary-caral;
    }
  }

  &__btn {
    margin-left: auto;

    @media screen and(max-width: 650px) {
      margin-left: 4.8rem;
      margin-top: 3.6rem;
    }
  }
}

.about-nav {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
}

.toggle-menu {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2.4rem;
  width: 2rem;
  position: relative;
}

.toggle-menu span {
  @media screen and(max-width: 650px) {
    background-color: #fff;
    height: 3px;
    width: 2.4rem;
    display: block;
    transition: all 0.2s;

    &:nth-child(2) {
      transform-origin: 0 0;
    }

    &:nth-child(4) {
      transform-origin: 0 -120%;
    }
  }
}

.toggle-menu input {
  height: 150%;
  width: 150%;
  position: absolute;
  top: -5px;
  left: -3px;
  cursor: pointer;
  opacity: 0;
  z-index: 20;
}

.toggle-menu input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translateY(-1px) translateX(3px);
}

.toggle-menu input:checked ~ span:nth-child(3) {
  display: none;
}

.toggle-menu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translateY(-2px) translateX(0px);
}

.toggle-menu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translateY(-2px) translateX(0px);
}

.slider {
  transform: translateX(0);
}
