// FONT VARIABLES
// $font-primary: 'Nunito', sans-serif;
// $font-display: 'Josefin Sans', sans-serif;

// ============
//     Color
// ============
$color-primary-green: #014e56;
$color-primary-caral: #f67e7e;
$color-white: #fff;

$color-blue-light: #79c8c7;
$color-blue-dark: #2c6269;

$color-green-light: #004047;
$color-green-dark-1: #012f34;
$color-green-dark-2: #002529;

// FONT VARIABLES
$font-primary: 'Livvic', sans-serif;

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-weight: 600;
  line-height: 1.6;
}

.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  opacity: 1;
  transition: all 0.3s;
}
