.short-line {
  height: 4px;
  width: 5rem;
  display: block;
}

.short-line-blue {
  background-color: $color-blue-light;
}

.short-line-caral {
  background-color: $color-primary-caral;
}

.text-center {
  text-align: center;
}

.mb-small {
  margin-bottom: 0.8rem;
}
