.about-container {
  max-width: 144rem;
  margin: 10rem auto;
}

.about-header {
  background-color: $color-primary-green;
  display: grid;
  grid-template-columns:
    minmax(min-content, 16.5rem)
    minmax(min-content, 111rem)
    minmax(min-content, 16.5rem);

  grid-template-rows:
    minmax(min-content, 7.3rem)
    minmax(min-content, 4.8rem)
    minmax(min-content, 15.6rem)
    minmax(min-content, 12rem);
}

.about-meet {
  background-color: $color-green-light;
  display: grid;
  grid-template-rows:
    minmax(min-content, 14rem)
    minmax(min-content, 72.2rem)
    minmax(min-content, 14rem);

  grid-template-columns:
    minmax(min-content, 16.5rem)
    minmax(min-content, 111rem)
    minmax(min-content, 16.5rem);
}

.about-client {
  background-color: $color-green-dark-1;
  display: grid;
  grid-template-rows:
    minmax(min-content, 14rem)
    minmax(min-content, 16rem)
    minmax(min-content, 14rem);

  grid-template-columns:
    minmax(min-content, 16.5rem)
    minmax(min-content, 111rem)
    minmax(min-content, 16.5rem);
}
