.about-container {
  max-width: 144rem;
  margin: 10rem auto;

  @media screen and(max-width: 1440px) {
    margin: 0;
  }
}

.about-header {
  background-color: $color-primary-green;
  display: grid;
  grid-template-columns:
    minmax(min-content, 16.5rem)
    minmax(min-content, 111rem)
    minmax(min-content, 16.5rem);

  grid-template-rows:
    minmax(min-content, 7.3rem)
    minmax(min-content, 4.8rem)
    minmax(min-content, 15.6rem)
    minmax(min-content, 12rem);

  @media screen and(max-width: 500px) {
    grid-template-columns:
      minmax(min-content, 1fr)
      minmax(min-content, 32.7rem)
      minmax(min-content, 1fr);
  }

  &__content {
    @media screen and(max-width: 1000px) {
      grid-template-columns:
        minmax(min-content, 16.5rem)
        minmax(min-content, 68.3rem)
        minmax(min-content, 16.5rem);

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    span {
      @media screen and(max-width: 1000px) {
        display: none;
      }
    }
  }

  &__title {
    @media screen and(max-width: 500px) {
      font-size: 4rem;
      line-height: 1;
    }
  }

  &__text {
    @media screen and(max-width: 1000px) {
      max-width: 45.7rem;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.9;
    }
    @media screen and(max-width: 500px) {
      max-width: 32.7rem;
      margin-top: 1.6rem;
    }
  }
}

.about-nav {
  justify-content: space-between;
  @media screen and(max-width: 500px) {
  }
}

.about-meet {
  background-color: $color-green-light;
  display: grid;
  grid-template-rows:
    minmax(min-content, 14rem)
    minmax(min-content, 72.2rem)
    minmax(min-content, 14rem);

  grid-template-columns:
    minmax(min-content, 16.5rem)
    minmax(min-content, 111rem)
    minmax(min-content, 16.5rem);

  @media screen and(max-width: 650px) {
    grid-template-columns:
      minmax(min-content, 2.4rem)
      minmax(32.7rem, 111rem)
      minmax(min-content, 2.4rem);
  }
}

.about-client {
  background-color: $color-green-dark-1;
  display: grid;
  grid-template-rows:
    minmax(min-content, 14rem)
    minmax(min-content, 16rem)
    minmax(min-content, 14rem);

  grid-template-columns:
    minmax(min-content, 16.5rem)
    minmax(min-content, 111rem)
    minmax(min-content, 16.5rem);

  @media screen and(max-width: 700px) {
    grid-template-columns:
      minmax(min-content, 16.5rem)
      minmax(32.7rem, 111rem)
      minmax(min-content, 16.5rem);
  }
}
